Repository junseokseo9306/airbnb, pull requests merged in 2022-06, with the labels that each got.

#22 Feature/android/UI/calendar
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarConstraints.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarItemStyle.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarStyle.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CompositeDateValidator.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateFormatTextWatcher.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateStrings.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateValidatorPointBackward.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateValidatorPointForward.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DaysOfWeekAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialCalendar.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialCalendarGridView.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialDatePicker.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialPickerOnPositiveButtonClickListener.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialStyledDatePickerDialog.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialTextInputPicker.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/Month.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MonthAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MonthsPagerAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/OnSelectionChangedListener.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/PickerFragment.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/RangeDateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/SingleDateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/SmoothCalendarLayoutManager.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/TimeSource.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/UtcDates.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/ViewOverlayApi18.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/ViewUtils.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/YearGridAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/home/HomeFragment.kt
  android/app/src/main/res/drawable/ic_baseline_check_24.xml
  android/app/src/main/res/layout/calendar_layout.xml
  android/app/src/main/res/layout/custom_month_labeled.xml
  android/app/src/main/res/navigation/navigation_home.xml
  android/app/src/main/res/values/refs.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: 📱Android

#23 Feature/backend/domain/reservation
  backend/src/main/java/kr/codesquad/airbnb/reservation/controller/ReservationController.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/controller/UserController.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/ReservationRepository.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/User.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/UserRepository.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/WishList.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/dto/ReservationRequest.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/dto/ReservationResponse.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/dto/Result.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/dto/WishListResponse.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/service/ReservationService.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/service/UserService.java
Labels: 🖥Backend, Feat

#26 Feature/android/UI/main
  android/app/build.gradle
  android/app/src/main/java/com/example/airbnb/common/CustomAppBar.kt
  android/app/src/main/java/com/example/airbnb/common/Utils.kt
  android/app/src/main/java/com/example/airbnb/data/PriceRange.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarConstraints.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarItemStyle.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CalendarStyle.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/CompositeDateValidator.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateFormatTextWatcher.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateStrings.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateValidatorPointBackward.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DateValidatorPointForward.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/DaysOfWeekAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialCalendar.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialCalendarGridView.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialDatePicker.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialPickerOnPositiveButtonClickListener.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialStyledDatePickerDialog.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MaterialTextInputPicker.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/Month.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MonthAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/MonthsPagerAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/OnSelectionChangedListener.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/PickerFragment.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/RangeDateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/SingleDateSelector.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/SmoothCalendarLayoutManager.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/TimeSource.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/UtcDates.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/ViewOverlayApi18.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/ViewUtils.java
  android/app/src/main/java/com/example/airbnb/ui/custom/datepicker/YearGridAdapter.java
  android/app/src/main/java/com/example/airbnb/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/pricebar/PriceBar.kt
  android/app/src/main/java/com/example/airbnb/viewmodels/HomeViewModel.kt
  android/app/src/main/res/drawable/ic_baseline_check_24.xml
  android/app/src/main/res/layout/calendar_layout.xml
  android/app/src/main/res/layout/custom_appbar.xml
  android/app/src/main/res/layout/custom_month_labeled.xml
  android/app/src/main/res/layout/fragment_pricebar.xml
  android/app/src/main/res/navigation/navigation_home.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/refs.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle
  android/settings.gradle
Labels: 📱Android

#27 Feature/backend/domain/accomodation
  backend/.gitignore
  backend/src/main/java/kr/codesquad/airbnb/accomodation/controller/AccommodationController.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/Accommodation.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/AccommodationImage.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/AccommodationInfo.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/AccommodationType.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/Amenity.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/Host.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/domain/Report.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/dto/AccommodationResponse.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/dto/AccommodationSearchRequest.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/dto/AccommodationsResponse.java
  backend/src/main/java/kr/codesquad/airbnb/accomodation/service/AccommodationService.java
  backend/src/main/java/kr/codesquad/airbnb/config/QueryDSLConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Labels: 🖥Backend, Feat

#30 Android develop
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/airbnb/adapters/CityItemAdapter.kt
  android/app/src/main/java/com/example/airbnb/common/CustomAppBar.kt
  android/app/src/main/java/com/example/airbnb/common/CustomResidentClickView.kt
  android/app/src/main/java/com/example/airbnb/common/CustomViewBindingAdapters.kt
  android/app/src/main/java/com/example/airbnb/common/CustomViewClick.kt
  android/app/src/main/java/com/example/airbnb/common/Listeners.kt
  android/app/src/main/java/com/example/airbnb/common/TextBindingAdapter.kt
  android/app/src/main/java/com/example/airbnb/common/Utils.kt
  android/app/src/main/java/com/example/airbnb/data/Accommodation.kt
  android/app/src/main/java/com/example/airbnb/data/CustomText.kt
  android/app/src/main/java/com/example/airbnb/data/SearchFilter.kt
  android/app/src/main/java/com/example/airbnb/datasource/AirbnbDataSource.kt
  android/app/src/main/java/com/example/airbnb/datasource/AirbnbDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/datasource/HomeDataImpl.kt
  android/app/src/main/java/com/example/airbnb/datasource/TmapDataSource.kt
  android/app/src/main/java/com/example/airbnb/datasource/TmapDataSourceImpl.kt
  android/app/src/main/java/com/example/airbnb/di/DataSourceModule.kt
  android/app/src/main/java/com/example/airbnb/di/NetworkModule.kt
  android/app/src/main/java/com/example/airbnb/di/RepositoryModule.kt
  android/app/src/main/java/com/example/airbnb/dto/AccommodationDto.kt
  android/app/src/main/java/com/example/airbnb/dto/CityDto.kt
  android/app/src/main/java/com/example/airbnb/dto/SearchFilterDto.kt
  android/app/src/main/java/com/example/airbnb/network/AirbnbApi.kt
  android/app/src/main/java/com/example/airbnb/repository/AirbnbRepository.kt
  android/app/src/main/java/com/example/airbnb/repository/AirbnbRepositoryImpl.kt
  android/app/src/main/java/com/example/airbnb/repository/HomeRepositoryImpl.kt
  android/app/src/main/java/com/example/airbnb/repository/TmapRepositoryImpl.kt
  android/app/src/main/java/com/example/airbnb/ui/MainActivity.kt
  android/app/src/main/java/com/example/airbnb/ui/calendar/CustomCalendar.kt
  android/app/src/main/java/com/example/airbnb/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/map/GoogleMapFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/pricebar/PriceBarFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/residents/ResidentCountsFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchFragment.kt
  android/app/src/main/java/com/example/airbnb/ui/search/SearchResultFragment.kt
  android/app/src/main/java/com/example/airbnb/viewmodels/HomeViewModel.kt
  android/app/src/main/res/drawable/ic_baseline_favorite_select_24.xml
  android/app/src/main/res/drawable/ic_baseline_menu_24.xml
  android/app/src/main/res/drawable/ic_baseline_star_24.xml
  android/app/src/main/res/drawable/ic_outline_favorite_border_white_24.xml
  android/app/src/main/res/drawable/ic_property_1_minus.xml
  android/app/src/main/res/drawable/ic_property_1_pluse.xml
  android/app/src/main/res/drawable/item_underline.xml
  android/app/src/main/res/layout/accommodation_item.xml
  android/app/src/main/res/layout/custom_appbar.xml
  android/app/src/main/res/layout/custom_resident_count.xml
  android/app/src/main/res/layout/fragment_google_map.xml
  android/app/src/main/res/layout/fragment_pricebar.xml
  android/app/src/main/res/layout/fragment_resident_counts.xml
  android/app/src/main/res/layout/fragment_search_result.xml
  android/app/src/main/res/navigation/navigation_home.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: 📱Android

#31 Create gradle.yml
  .github/workflows/gradle.yml
Labels: 🖥Backend, Feat

#33 Feature/backend/dev deploy
  backend/DockerFile
  backend/src/main/resources/application-deploy.properties
  backend/src/main/resources/application.properties
Labels: 🖥Backend, Feat

#35 Feature/backend/auth
  backend/src/main/java/kr/codesquad/airbnb/auth/AccessToken.java
  backend/src/main/java/kr/codesquad/airbnb/auth/GitHubUserDto.java
  backend/src/main/java/kr/codesquad/airbnb/auth/controller/LoginController.java
  backend/src/main/java/kr/codesquad/airbnb/auth/service/LoginService.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/Reservation.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/User.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/UserRepository.java
  backend/src/main/java/kr/codesquad/airbnb/reservation/domain/WishList.java
  backend/src/main/resources/application-deploy.properties
  backend/src/main/resources/application.properties
Labels: 🖥Backend
